# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# netlify
.netlify/

# environment
.env
.env.production
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
